.thumbnail{  height: 4em;  }

.mat-option {
  font-size: inherit;
  line-height: 5em;
  height: 5em;
}
.thumbnail-arrow-stroke{
  height: auto;
  max-width: 40px;
  width: auto;
  max-height: 40px;
}
.thumbnail-arrow-head{
  height: auto;
  max-width: 10px;
  width: auto;
  max-height: 40px;
}
