<mat-toolbar>
  <div class="mat-toolbar-tools">
    <h2>Change Instantiation Type</h2>
  </div>
</mat-toolbar>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-select
      placeholder="Instantiation as"
      [(ngModel)]="selectedModel">
      <mat-option *ngFor="let instantiationType of getInstantiationTypes()" [value]="instantiationType">{{instantiationType}}</mat-option>

    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="delete()">Delete</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
