<!--ATTENTION: this webpage is not used-->

<mat-toolbar>
  <div class="mat-toolbar-tools">
    <h2>Select language</h2>
  </div>
</mat-toolbar>

<mat-form-field>
<mat-select [(value)]="selectedOption">
 <!-- <mat-label>Select Language</mat-label>-->
  <mat-option value="mod">MODEL</mat-option>
  <mat-option value="bpmn">BPMN</mat-option>
  <mat-option value="cmmn">CMMN</mat-option>
  <mat-option value="apqc">APQC</mat-option>
  <mat-option value="archi">ARCHIMATE</mat-option>
  <mat-option value="bpaas">BPAAS</mat-option>

</mat-select>
</mat-form-field>



<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="getLanguage()">Export</button>

</mat-dialog-actions>





