<mat-toolbar color="primary" class="mat-elevation-z8" *ngIf="!showModellerHeader">
  <span><a mat-button routerLink="/home"><img width="350" src="assets/images/AOAME_crop.png"></a></span>

  <div class="spacer"></div>
  <span *ngIf="authService.currentUser$ | async as user" style="font-size: smaller; font-weight: bold;">{{user.email}}</span>
  <a mat-button routerLink="/home"routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true} >Home</a>
  <a mat-button routerLink="/diagramManagement"routerLinkActive="active-link">Modeller</a>
  <a mat-button routerLink="/importExport" routerLinkActive="active-link">Import and Export</a>
  <a mat-button (click)="authService.logout()" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>Logout</a>
</mat-toolbar>

<mat-toolbar color="primary" class="mat-elevation-z8" *ngIf="showModellerHeader">
  <button mat-button color="primary" (click)="navigateBack()">
    <mat-icon>arrow_back_ios</mat-icon>
    <span>{{ modelName }}</span>
  </button>
</mat-toolbar>
<br>
